<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{0}</title>
    <link rel="stylesheet" href="{1}">
    <link rel="stylesheet" href="{2}">
</head>
<body>
  <main class="border border-danger" style="width: 100%; height: 100vh">
    <header class='navbar bg-dark'>
        <nav class='navbar-brand text-white'>
            <h1 class="h3">IPAHEKTHE</h1>
        </nav>
    </header>

  <div class="mx-auto border border-primary" style="width: 500px; margin-top: 20vh; padding: 50px;">
    <form action="/Login" method="POST">
      <div class="form-group">
        <label for="usuario">
            USUÁRIO
        </label>
        <input class="form-control" type="text" name="usuario" id="usuario" placeholder="Endereço de E-mail">
      </div>
      <div class="form-group">
        <label for="senha">
            SENHA
        </label>
        <input class="form-control" type="password" name="senha" id="senha" placeholder="Senha">
      </div>
      <input class="btn btn-primary" type="submit" value="Entrar">
    </form>
</div>
</main>
</body>
</html>
